.large-image.banner-container .banner-wrapper .banner.block > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.large-image.banner-container .banner-wrapper .banner.block > div > div:first-child {
    background-color: #fff;
    float: left;
    height: 180px;
    margin-top: -180px;
    min-height: 180px;
    padding-bottom: 0;
    padding-left: 28px;
    padding-right: 28px;
    position: relative;
    width: 71pc;
}

.large-image img {
    max-width: none;
    width: auto;
    height: auto;
}

.image-left-text-right .banner-wrapper .banner.block > div {
    display: flex
}

.image-left-text-right img{
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
}

.image-left-text-right .banner-wrapper .banner.block > div > div:nth-child(2) {
    background-color: #ebebeb;
    padding: 3.5em 2em 2em;
    flex: 1;
}

.image-left-text-right .banner-wrapper .banner.block > div > div:nth-child(1) {
    flex: 2;
}

body .banner a {
    background-color: var(--brandPrimary, #ffea00) !important;
    border-radius: var(--buttonBorderRadius, 0) !important;
    color: var(--textColor, #202020) !important;
    float: left !important;
    font-size: var(--fontSizeSmall, 14px) !important;
    font-weight: var(--fontWeightBold, 600) !important;
    padding: 1em 2.5em !important;
    text-transform: uppercase !important;
}
