footer {
  /*background-color: var(--light-color);*/
  font-size: var(--body-font-size-xs);
    background-color: #202020;
    color: #ebebeb;
    margin-top: 3rem;
    padding: 1rem 0 1.5rem;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
    /*padding: 40px 32px 24px;*/
}

footer .footer p {
  margin: 0;
}

footer .section.footer-logo {
    clear: none;
    float: left;
    padding: 0 14px;
}

footer .section.footer-logo img{
    max-width: 8rem;
    height: auto;
    margin-top: 7px;
}

footer .section.footer-link {
    clear: none;
    float: left;
    width: 50%;
    padding: 0 14px;
}

footer .footer-link .default-content-wrapper {
    padding-top: 15px;
}

footer .footer-link .default-content-wrapper ul {
    display: flex;
    gap: 24px;
    margin: 0;
}

footer .footer-link .default-content-wrapper ul li {
    display: block;
    font-size: var(--fontSizeSmall, 14px);
}

footer .section.footer-sns-logo {
    clear: none;
    float: left;
    padding: 0 14px;
}

footer .section.footer-sns-logo .default-content-wrapper h4 {
    float: left;
    padding-right: 20px;
    padding-top: 30px;
}

footer .footer-sns-logo .default-content-wrapper ul {
    clear: none;
    float: left;
    padding-left: 0;
    padding-right: 0;
}

footer .footer-sns-logo .default-content-wrapper ul li {
    display: block;
    clear: none;
    float: left;
    background-color: var(--brandThird, #ebebeb);
    border-radius: var(--buttonBorderRadius, 0);
    color: #202020;
    font-weight: var(--fontWeightBold, 600);
    height: var(--buttonSize, 3pc);
    min-width: var(--buttonSize, 3pc);
    text-transform: uppercase;
    font-size: 28px;
    padding-left: 18px;
    padding-top: 18px;
}



footer .section.footer-policy {
    clear: both;
    padding-top: 30px;
}

footer .section.footer-policy p {
    margin-bottom: 20px;
}


@media (width >= 900px) {
  footer .footer > div {
    /*padding: 40px 32px 24px;*/
  }
}
